body{
    margin: 0;
}

.app{
    border: 2px solid navy;
    border-radius: 10px;
    display: flex;
    gap: 14px;
    height: 45vh;
    width: 95%;
    padding: 2%;

}

.a-pane, .b-pane{
    border: 2px solid rgb(0, 140, 255);
    border-radius: 10px;
    background-color: aqua;
    height: 45vh;
    width: 50%;
}