:root{
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #00BFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    height: 100vh;
}

.flexbox-item {
    width: 100%;
    height: 25%;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-dark);
    text-align: center;
}

.container-1 {
    width: 100%;
    height: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 50%;
    background-image: url('https://www.educative.io/cdn-cgi/image/f=auto,fit=contain,w=1200/api/page/5545322485383168/image/download/5214745121259520');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.my-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #00a2ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


.my-button:hover {
    background-color: #0011ff;
}

.photo img {
    width: 100%;
    height: 40%;
}



.flexbox-item-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-align: center;
    
    
}

.flexbox-item-2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-align: center;
}

.flexbox-item-3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-align: center;
}

a1 {
    font-size: 50px;
}

a {
    font-size: 25px;
}